<h2>Students List - Many to Many</h2>

<a href="{% url 'student2_add' %}">Add Student</a>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Addresses</th>
        <th>Actions</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>
            {% for address in student.addresses.all %}
                {{ address.city }}<br>
            {% endfor %}
        </td>
        <td>
            <a href="{% url 'student2_edit' student.id %}">Edit</a>
            <a href="{% url 'student2_delete' student.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>